#LoginPage{   

    .div-login{
        height: 100%;
        margin: 0px 10px;   
    }

    .height-100{
        height: 100%;
    }

    .width-100{
        width: 100%;
    }

    .conteudoLogin{
        background-color: #ffffff80;
    }
}

ion-content {
    --background: #ffffff url('../../www/img/FundoLogin.jpg') no-repeat center center / cover !important;
}