<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="LoginPage">
  <ion-row class="div-login ion-align-items-center">
    <ion-card class="conteudoLogin width-100 ion-padding">

      <ion-item class="margin-top-auto">
        <ion-label position="floating">Usuário</ion-label>
        <ion-input [(ngModel)]="Usuario"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="Senha" type="password"></ion-input>
      </ion-item>
      
      <ion-item [hidden]="!TemErro" class="ion-margin-top">
        <ion-text color="danger">{{Erro}}</ion-text>  
      </ion-item>

        <ion-button (click)="Login()" class="ion-margin-top margin-bottom-auto" shape="round" expand="full" color="tertiary">Login
      </ion-button>

    </ion-card>
  </ion-row>
</ion-content>